<%- include("partials/header.ejs") %>

<div>
    <h1 class="aboutTitle">BLOGGER</h1>

    <p class="aboutContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium est lorem, quis elementum augue laoreet id. Nulla quis justo diam. Curabitur sit amet sapien vitae enim egestas volutpat. Nam sed quam luctus, rhoncus est ac, pellentesque dolor. Donec faucibus, lacus quis pellentesque convallis, ipsum orci consequat sem, a mollis magna nunc sit amet mi. Integer ipsum libero, interdum quis semper non, viverra sed tellus. Duis egestas eros a interdum posuere. In euismod consequat ipsum finibus ultrices. Aliquam pretium luctus nibh imperdiet mattis. Quisque eu odio mauris. Curabitur pulvinar ligula eget dui luctus sodales.

        Maecenas ut justo ut risus tempus fermentum a eu velit. Mauris dignissim est in diam vestibulum, sed mollis metus lacinia. Morbi convallis blandit efficitur. Aliquam id tortor at est varius euismod. Donec nec metus luctus, mollis neque sit amet, dictum tellus. Sed vestibulum iaculis est, eu faucibus tortor interdum ac. Nullam rhoncus, leo ut euismod ullamcorper, quam metus sollicitudin nibh, vel interdum erat turpis vitae ex. Nam nulla risus, aliquet eget dui nec, convallis laoreet lacus. Suspendisse maximus dictum mi, quis vehicula lacus tincidunt ut. Ut sed dui erat. Fusce viverra neque vel risus efficitur, at aliquet libero facilisis. Nullam egestas, tellus sit amet volutpat rhoncus, eros risus euismod quam, sed mattis felis dolor in erat.
        
        Donec mi nisl, maximus vel sem eget, iaculis tincidunt nisi. Morbi risus nibh, tincidunt molestie eros mattis, convallis finibus ipsum. In laoreet libero sit amet cursus facilisis. Aliquam pharetra quis ipsum eu dignissim. Vestibulum quam sem, laoreet sed arcu tempor, tristique aliquet urna. Nulla laoreet dolor orci, eget tristique enim sollicitudin sed. Duis auctor odio diam, sed pretium quam vulputate nec.
        
        Vivamus volutpat dignissim convallis. Integer vel tortor in turpis blandit porttitor vitae vitae risus. Aliquam ac luctus urna, vel pretium lacus. Sed vel tortor non lacus pharetra hendrerit. Aliquam dictum tincidunt quam in lobortis. Fusce convallis sapien in risus porttitor tincidunt. Suspendisse potenti. Pellentesque ac sodales risus.
        
        Suspendisse potenti. Praesent sit amet ex eget velit fringilla sodales sed egestas sapien. Aenean eget leo sodales, lobortis magna ac, pellentesque dolor. Morbi pretium, purus vitae sagittis pellentesque, ipsum dui bibendum mi, vitae fermentum ante leo hendrerit eros. Quisque pretium orci quis ex dignissim rutrum. Fusce quis lacinia diam. Curabitur mollis nibh at ultrices porta. Etiam a iaculis massa. Aenean tincidunt sodales tellus sit amet fringilla. Praesent tempor eget tellus et elementum. Suspendisse non dapibus quam. Ut congue porttitor elit, nec aliquam lacus efficitur a. Ut vitae neque et mi lacinia suscipit in id nulla. Nulla diam leo, aliquet vitae nisi et, rhoncus faucibus ante. Etiam ex odio, cursus vel quam aliquet, vulputate egestas dui. Quisque commodo a metus sit amet lacinia.
    </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="js/main.js"></script>

<%- include("partials/footer.ejs") %>