
body{
    background-color: #FBF9F1 ;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F1035;
}

#modalSheet{
    background-color: #FBF9F1 !important
}

.appName{
    display: block;
    margin-right: 20px;
    color: #0F1035;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10px;
}

.styled-input{
    display: block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px; 
    background-color: #E5E1DA;
}

.styled-textarea{
    display: block;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    min-width: 95vw; 
    min-height: 200px;
    background-color: #E5E1DA;
}

.styled-button {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px; 
}

.vertical-form {
    min-width: 300px; 
  }

.styled-button {
    background-color: #AAD7D9;
    color: #0F1035;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #92C7CF;
}

.activeButton{
    background-color: #92C7CF ; 
}

.nav-link{
    color: #0F1035;
}

.nav-link:hover{
    color: #0F1035;
}

.postPageTitle, .postPageBlog{
    display: flex;
    align-items: center;
    justify-content: center;
}

.editButtonForm{
    margin: 20px;
    display: inline-block;
    width: 100px;

}

.deleteButtonForm{
    margin: 20px;
    width: 100px;
    float: right;
}

.deleteButton{
    background-color: #D24545;
    border: 1px solid #D24545;
}

.deleteButton:hover{
    background-color: #A94438;
    border: 1px solid #A94438;
}

.aboutTitle{
    text-align: center;
}

.aboutContent{
    text-align: justify;
    margin: 20px;
}